.showDetail__image
  .image
    = image_tag @item.image.url
.showDetail__tags
  %ul.showDetail__tags__category
    %li
      = "Category："
    %li
      = @category.name
  %ul.showDetail__tags__color
    %li
      = "Color："
    %li
      = @color.name
  %ul.showDetail__tags__season
    %li
      = "Season："
    %li
      = @season.name
  .Btns
    = link_to item_path(@item.id), class: "delete", method: :delete do
      = "削除"