!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cassettiera
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__title
        = link_to root_path, class: "titleColor" do
          = "Cassettiera"
      .header__login
        - if user_signed_in?
          .header__login__right
            = link_to destroy_user_session_path, class: "right", method: :delete do
              = "Log out"
        - else
          .header__login__left
            = link_to new_user_session_path, class: "left" do
              = "Log in"
          .header__login__right
            = link_to new_user_registration_path, class: "right" do
              = "Sign Up"
    .main
      .main__side
        - if user_signed_in?
          .main__side__registerFunction
            = link_to new_item_path, class: "register" do
              = "＋ Register"
          .main__side__categories
            - @categories.zip(@amounts) do |category, amount|
              %ul.category
                %li
                  = link_to category_path(category.id), class: "belong" do
                    = category.name
                %li.amount
                  = amount
        - else
          .main__side__registerFunction
            = link_to root_path, class: "register" do
              = "＋ Register"
          .main__side__categories
            %ul.category
              %li.belong
                = "Tops"
              %li.amount
                = "0"
            %ul.category
              %li.belong
                = "Skirt"
              %li.amount
                = "0"
            %ul.category
              %li.belong
                = "Pants"
              %li.amount
                = "0"
            %ul.category
              %li.belong
                = "Onepiece"
              %li.amount
                = "0"
            %ul.category
              %li.belong
                = "Outer"
              %li.amount
                = "0"
            %ul.category
              %li.belong
                = "Bag"
              %li.amount
                = "0"
            %ul.category
              %li.belong
                = "Shoes"
              %li.amount
                = "0"
      .main__categoryDetail
        = yield
    .footer
      = "テスト用Email：signup@test.com"
      = "テスト用Password：testpass01"
