!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyCloset
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__title
        = link_to root_path, class: "titleColor" do
          = "MyCloset"
      .header__login
        - if user_signed_in?
          .header__login__right
            = link_to destroy_user_session_path, class: "right", method: :delete do
              = "Logout"
        - else
          .header__login__left
            = link_to new_user_session_path, class: "left" do
              = "Login"
          .header__login__right
            = link_to new_user_registration_path, class: "right" do
              = "SignUp"
    .main
      .main__side
        - if user_signed_in?
          .main__side__registerFunction
            = link_to new_item_path, class: "register" do
              = "＋ 服を登録する"
          .main__side__categories
            - @categories.zip(@amounts) do |category, amount|
              %ul.category
                %li
                  = link_to category_path(category.id), class: "belong" do
                    = category.name
                %li.amount
                  = amount
        - else
          .main__side__registerFunction
            = link_to root_path, class: "register" do
              = "＋ 服を登録する"
          .main__side__categories
            %ul.category
              %li.belong
                = "トップス"
              %li.amount
                = "0"
            %ul.category
              %li.belong
                = "スカート"
              %li.amount
                = "0"
            %ul.category
              %li.belong
                = "パンツ"
              %li.amount
                = "0"
            %ul.category
              %li.belong
                = "ワンピース"
              %li.amount
                = "0"
            %ul.category
              %li.belong
                = "アウター"
              %li.amount
                = "0"
            %ul.category
              %li.belong
                = "バッグ"
              %li.amount
                = "0"
            %ul.category
              %li.belong
                = "シューズ"
              %li.amount
                = "0"
      .main__categoryDetail
        = yield
    .footer